/* Blues */
$primary-color:             hsl(216, 60%, 0%);
$primary-color-litest:      lighten($primary-color, 90%);
$primary-color-lite:        lighten($primary-color, 75%);
$primary-color-med:         lighten($primary-color, 58%);
$primary-color-dark:        lighten($primary-color, 39%);
$primary-color-darkest:     lighten($primary-color, 20%);

/* Browns */
$secondary-color:           hsl(33, 25%, 0%);
$secondary-color-litest:    lighten($secondary-color, 90%);
$secondary-color-lite:      lighten($secondary-color, 75%);
$secondary-color-med:       lighten($secondary-color, 58%);
$secondary-color-dark:      lighten($secondary-color, 39%);
$secondary-color-darkest:   lighten($secondary-color, 20%);

/* Colors */
$shadows: hsla(0%, 0%, 0%, 0.5);


$header-bg: $primary-color-dark;
$header-fg: white;

$navbar-bg: $primary-color-darkest;
$navbar-fg: white;
$navbar-hover-bg: $primary-color-med;

$body-bg: $secondary-color-lite;

$content-bg: white;
$content-fg: #404040;
$content-border: $secondary-color-med;

$link-color: #0c2c59;
$link-hover: #590c0c;


$h1-bg: $primary-color-dark;
$h1-fg: white;
$h1-shadow: hsla(0%, 0%, 0%, 0.25);
$h1-page-title-bg: $primary-color-darkest;
