@import "colors";
@import "lib";

////// Core layout
html {
    // For pinning the footer to the bottom
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;

    font-family: Helvetica, DejaVu Sans, sans-serif;
    font-size: 12px;
    background: $body-bg;
}

#header {
    position: relative;

    background: $header-bg;
    background-image:
        -moz-repeating-linear-gradient(top left -45deg, rgba($primary-color-lite, 0.2) 0%, rgba($primary-color-lite, 0.2) 17%, transparent 17%, transparent 50%, rgba($primary-color-lite, 0.2) 50%, rgba($primary-color-lite, 0.2) 67%, transparent 67%, transparent 100%),
        -moz-linear-gradient(top, rgba($primary-color-lite, 0.75), rgba($primary-color-lite, 0));
    background-size: 3px 3px, auto auto;
    box-shadow: 0 0 1em $primary-color-med inset;

    #title {
        font-size: 4em;
        padding: 0.25em 1em;
        font-weight: bold;
        color: $header-fg;
        text-transform: lowercase;
    }

    #search {
        position: absolute;
        right: 0;
        bottom: -1.67em;
        padding: 0.5em;
    }
}

ul#navbar {
    font-weight: bold;
    color: $navbar-fg;
    padding-top: 1px;
    background: $navbar-bg;
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(hsla(0%, 0%, 100%, 0.1)),
        to(  hsla(0%, 0%, 0%, 0.15))
    );
    background-image: -moz-linear-gradient(top,
        hsla(0%, 0%, 100%, 0.1),
        hsla(0%, 0%, 0%, 0.15)
    );

    box-shadow: 0;

    > li {
        display: inline-block;
        margin: 0 0.33em;

        > a {
            display: block;
            padding: 0.33em 0.67em;
            color: $navbar-fg;
        }
        &:hover {
            background: $navbar-hover-bg;
            background-image: -moz-linear-gradient(top,
                hsla(0%, 0%, 100%, 0.1),
                hsla(0%, 0%, 0%, 0.15)
            );
        }

        > ul {
            position: absolute;
            display: none;
            width: 20em;
            border: 2px solid $navbar-hover-bg;
            border-top: none;
            background: $navbar-sub-bg;
            box-shadow: 1px 1px 3px $shadows;

            > li {
                > a {
                    display: block;
                    padding: 0.33em 0.5em;
                    font-weight: normal;
                    color: $navbar-sub-fg;

                    &:hover {
                        background: $navbar-sub-hover-bg;
                        color: $navbar-sub-hover-fg;
                    }
                }
            }
        }
        &:hover > ul {
            display: block;
        }
    }
}

ul#breadcrumbs {
    // margin: ???
    margin: 0.67em 0 -2.67em;
    padding-left: 3em;
    line-height: 1;
    font-weight: bold;
    text-transform: lowercase;

    li {
        display: inline-block;
        line-height: 1;

        &:after {
            content: ' → ';
        }

        &:last-child:after {
            content: ' ↓ ';
        }
    }
}

#main {
    @include contain-float;
    padding: 3em 1em 8em;

    #content {
        padding: 1em;
        border: 1px solid $content-border;
        background: $content-bg;
        color: $content-fg;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5em;
    padding: 1em;

    box-shadow: 0 0.5em 0.5em -0.5em black inset;
    background: $secondary-color-litest;
}


////// Common elements
h1 {
    font-size: 2em;
    margin: 1em -0.5em 0.5em;
    padding: 0.25em 1em;
    border: 1px solid $h1-bg;
    border-width: 1px 0;
    background: $h1-bg;
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); */
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(           hsla(0%, 0%, 100%, 0.3)),
        to(             hsla(0%, 0%, 100%, 0)),
        color-stop(50%, hsla(0%, 0%, 100%, 0.25)),
        color-stop(75%, hsla(0%, 0%, 100%, 0.15))
    );
    background-image: -moz-linear-gradient(top,
        hsla(0%, 0%, 100%, 0.3),
        hsla(0%, 0%, 100%, 0.25) 33%,
        hsla(0%, 0%, 100%, 0.15) 67%,
        hsla(0%, 0%, 100%, 0)
    );
    color: $h1-fg;
    text-shadow: 1px 1px 1px $h1-shadow;
    box-shadow: 0 3px 3px -3px $shadows;
    font-weight: normal;
    text-transform: lowercase;

    #content > &:first-child,
    #content div > &:first-child {
        font-size: 2.5em;
        margin: -0.4em -0.4em 0.4em;
        padding: 0.25em 1em;
        border-top: none;
        font-family: serif;  // XXX
        background-color: $h1-page-title-bg;
        text-transform: normal;

        & + h1 {
            margin-top: -0.5em;
            border-top: none;
        }
    }
}

h2 {
    font-size: 1.67em;
    margin: 1em 0 0.5em;
    padding: 0.25em 1em;
    font-weight: normal;
    background: $secondary-color-lite;
    background-image:
        -moz-repeating-linear-gradient(top left -45deg, rgba($secondary-color-litest, 0.5) 0%, rgba($secondary-color-litest, 0.5) 17%, transparent 17%, transparent 50%, rgba($secondary-color-litest, 0.5) 50%, rgba($secondary-color-litest, 0.5) 67%, transparent 67%, transparent 100%);
    background-size: 3px 3px;
    border: 1px solid $secondary-color-lite;
    border-radius: 1em;
}

.doorhanger {
    margin: -1em 0 1em;
    padding: 0.5em;
    background: $primary-color-lite;
    color: black;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow:
        0 3px 3px -3px $shadows inset,
        0 0 3px rgba($shadows, 0.25);
}


p, li {
    line-height: 1.33;
}

p {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $link-color;

    &:hover {
        color: $link-hover;
    }

    h1 &,
    h2 & {
        font-weight: inherit;
        color: inherit;
    }
}


////// Useful classes

// Markdown contents
.prose {
    ul {
        margin: 1em;
        padding-left: 1em;
        text-indent: -1em;

        li {
            margin-bottom: 0.5em;

            &:before {
                content: '»';
            }
        }
    }

    p {
        margin-bottom: 0.67em;
        line-height: 1.5;
    }
}
