@import "colors";
@import "lib";

////// Core layout
html {
    // For pinning the footer to the bottom
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;

    font-family: Lucida Sans, Lucida Grande, Droid Sans, DejaVu Sans, sans-serif;
    font-size: 12px;
    background: $body-bg;
}

#header {
    position: relative;

    background: $header-bg;
    // This used to be a gradient, but alas, neither Gecko nor WebKit handled
    // it well.  See: https://bugzilla.mozilla.org/show_bug.cgi?id=632324 and
    // https://bugs.webkit.org/show_bug.cgi?id=54347
    background-image: url(/site_img/pinstripe.png);
    box-shadow: 0 -1em 1em -1em $primary-color-dark inset;

    #title {
        font-size: 4em;
        padding: 0.25em 1em;
        font-weight: bold;
        color: $header-fg;
        text-transform: lowercase;

        a {
            text-decoration: none;
            color: $header-fg;
        }
    }

    #search {
        font-size: 0.8em;
        position: absolute;
        right: 1em;
        bottom: -2.3em;

        input {
            font-size: inherit;
        }
    }
}

ul#navbar {
    font-weight: bold;
    color: $navbar-fg;
    padding-top: 1px;
    background: $navbar-bg;
    @include gradient(
        background-image,
        linear-gradient(top,
            hsla(0%, 0%, 100%, 0.1),
            hsla(0%, 0%, 0%, 0.15)
        )
    );
    box-shadow: 0 0 0.5em $shadows;

    a {
        text-decoration: none;
    }

    > li {
        display: inline-block;
        margin: 0 0.33em;

        > a {
            display: block;
            padding: 0.33em 0.67em;
            color: $navbar-fg;
        }
        &:hover {
            background: $navbar-hover-bg;
            @include gradient(
                background-image,
                linear-gradient(top,
                    hsla(0%, 0%, 100%, 0.1),
                    hsla(0%, 0%, 0%, 0.15)
                )
            );
        }

        > ul {
            position: absolute;
            display: none;
            width: 20em;
            border: 2px solid $navbar-hover-bg;
            border-top: none;
            background: $navbar-sub-bg;
            box-shadow: 1px 1px 3px $shadows;

            > li {
                > a {
                    display: block;
                    padding: 0.33em 0.5em;
                    font-weight: normal;
                    color: $navbar-sub-fg;

                    &:hover {
                        background: $navbar-sub-hover-bg;
                        color: $navbar-sub-hover-fg;
                    }

                    .annotation {
                        float: right;
                    }
                }
            }
        }
        &:hover > ul {
            display: block;
        }
    }
}

ul#breadcrumbs {
    // margin: ???
    margin: 0.67em 0 -2.67em;
    padding-left: 3em;
    line-height: 1;
    font-weight: bold;
    text-transform: lowercase;

    a {
        text-decoration: none;
    }

    li {
        display: inline-block;
        line-height: 1;

        &:after {
            content: ' → ';
        }

        &:last-child:after {
            content: ' ↓ ';
        }
    }
}

#main {
    @include contain-float;
    padding: 3em 1em 8em;

    #content {
        padding: 1em;
        border: 1px solid $content-border;
        background: $content-bg;
        color: $content-fg;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5em;
    padding: 1em;

    box-shadow: 0 0.5em 0.5em -0.5em black inset;
    background: $secondary-color-litest;
}


////// Common elements
h1 {
    font-size: 2em;
    margin: 1em -0.5em 0.5em;
    padding: 0.25em 1em;
    border: 1px solid $h1-bg;
    border-width: 1px 0;

    background: $h1-bg;
    @include gradient_under_image(
        background-image,
        url(/site_img/eevee-bounding.png),
        linear-gradient(top,
            hsla(0%, 0%, 100%, 0.3),
            hsla(0%, 0%, 100%, 0.25) 33%,
            hsla(0%, 0%, 100%, 0.2) 50%,
            hsla(0%, 0%, 100%, 0)
        )
    );
    background-repeat: no-repeat;
    // Not every browser understands multiple backgrounds; need fallback
    background-position: center right;
    background-position: center right, top left;

    color: $h1-fg;
    text-shadow: 1px 1px 1px $h1-shadow;
    box-shadow: 0 3px 3px -3px $shadows;
    font-weight: normal;
    text-transform: lowercase;

    #content > &:first-child,
    #content div > &:first-child {
        font-size: 2.5em;
        margin: -0.4em -0.4em 0.4em;
        padding: 0.25em 1em;
        border-top: none;
        font-family: serif;  // XXX
        background-color: $h1-page-title-bg;
        @include gradient(
            background-image,
            linear-gradient(
                top,
                hsla(0%, 0%, 100%, 0.25) 0%,
                hsla(0%, 0%, 100%, 0.1) 80%,
                hsla(0%, 0%, 0%, 0.1) 100%
            )
        );
        text-transform: normal;

        & + h1 {
            margin-top: -0.5em;
            border-top: none;
        }
    }

    a:hover {
        color: lighten($link-hover, 50%);
    }
}

h2 {
    font-size: 1.67em;
    margin: 1em 0 0.5em;
    padding: 0.25em 1em 0.25em 32px;
    font-weight: normal;
    border: 1px solid $secondary-color-litest;
    border-radius: 1em;
    background-color: $secondary-color-lite;
    // Not every browser understands multiple backgrounds; need fallback
    background-image: url(/site_img/great-ball.png);
    // Used to be a gradient; see the comment for #header
    background-image: url(/site_img/great-ball.png), url(/site_img/pinstripe.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat;
    background-position: 4px center;
    background-position: 4px center, left top;
}

h3 {
    font-size: 1.33em;
    margin: 1em 0 0.5em;
    padding: 0.25em 0;
    font-weight: normal;
    border-bottom: 3px double $primary-color-dark;
    color: $primary-color-dark;
}

.doorhanger {
    margin: -1em 0 1em;
    padding: 0.5em;
    background: $primary-color-lite;
    color: black;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow:
        0 3px 3px -3px $shadows inset,
        0 0 3px rgba($shadows, 0.25);
}


p, li {
    line-height: 1.33;
}

p {
    margin-bottom: 0.75em;
}

a {
    text-decoration: underline;
    color: $link-color;

    &:hover {
        color: $link-hover;
    }

    h1 &,
    h2 &,
    h3 & {
        text-decoration: none;
        font-weight: inherit;
        color: inherit;
    }
}

pre {
    margin: 1em 2em;
    padding: 0.5em;
    line-height: 1.2;

    td & {
        // Margins are not so useful inside <td>
        margin: 0;
        padding: 0.5em 1em;
    }
}


////// Useful classes

// Markdown contents
.prose {
    font-size: 13px;

    ul {
        margin: 1em;

        > li {
            margin-bottom: 0.5em;

            &:before {
                content: '➿';
                display: block;
                margin-left: -1em;
                float: left;
            }
        }
    }

    ol {
        margin: 1em;
        padding-left: 1em;
        text-indent: 0;

        > li {
            margin-bottom: 0.5em;
            list-style-type: lower-greek;
        }
    }

    blockquote {
        margin-left: 2em;
        padding-left: 0.5em;
        border-left: 0.5em solid $primary-color-litest;
    }

    p {
        margin-bottom: 1em;
    }

    table {
        margin-bottom: 1em;
    }

    code {
        padding: 0 0.25em;
        background: $primary-color-litest;

        // Don't give me a background inside <pre>, headers, etc.
        h1 > &, h2 > &, h3 > &, pre > & {
            padding: 0;
            background: none;
        }
    }

    // Only decorate <pre> directly inside prose; other stuff uses it too much
    & > pre {
        background: $primary-color-litest;
    }

    // Prose-specific classes
    .prose-illustration {
        float: right;
        margin: 0.5em;
        margin-right: 0;
    }
}

// Some chunk of HTML that was abruptly cut off
.excerpt {
    img {
        max-width: 10em;
        max-height: 10em;
    }
}
